/resources/jme3
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*~
*.jar
*.class
/.clj-kondo/
/.lein-*
/.lsp/
/.nrepl-port
/.prepl-port
/.calva/
.hgignore
.hg/

*.so

*.blend*

resources/model-prototypes/*male.glb

resources/model-prototypes/*male.j3o
